.logo {
    width: 110px;
    height: 70px;
    display: inline;
    float: left;
    margin-left: 35px;

}

.alert1 {
    animation-name: alert;
    animation-duration: 1.5s;
    animation-delay: 5s;
    animation-fill-mode: both;
}

@keyframes alert {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card {
    position: fixed;
    z-index: 5;
    top: 26%;
    left: 80%;
    animation-name: card;
    animation-duration: 15s;
    animation-delay: 10s;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes card {
    0% {
        transform: translateX(300px);
    }

    25%{
        transform: translateX(0px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(300px);
    }
}

nav {
    width: 100%;
    height: 70px;
    background-color: rgba(7, 77, 83, 0.473);
    position: absolute;
    top: 0px;
}

nav a {
    color: azure;
}

nav a:hover {
    color: rgb(5, 3, 19);
}

#banner {
    background: url("genshin/wallpaperflare.com_wallpaper.jpg");
    background-color: rgba(39, 31, 31, 0.26);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.tital {
    font-size: 2em;
    line-height: 70px;
    font-family: 'Rubik Wet Paint', cursive;
}

a:hover {
    text-decoration: none;
}

.btn-group {
    font-family: "Quintessential", cursive;
    margin-bottom: 15px;
}

.social {
    display: inline;
    perspective: 1000px;
}

.social a {
    line-height: 70px;
    margin: 0px 5px;
    transition: transform 0.8s;
}

.social a:hover {
    transform: translateX(50px);
}

.social1 {
    display: inline;
    margin-left: 230px;
    font-size: 1.5em;
}

.social1 a {
    line-height: 70px;
    margin: 0px 10px;
    display: inline-block;
    transition: transform 0.8s;
}

.social1 a:hover {
    transform: rotateY(360deg);
}

section {
    font-family: 'Raleway', sans-serif;
}

.hv_center {
    position: absolute;
    top: 35%;
    left: 23.5%;
    width: 50%;
}

.down-arrow {
    font-size: 2.5em;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    animation-name: arrow-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
}

.arrow i:nth-child(0) {
    animation-delay: 1s;
}

.arrow i:nth-child(1) {
    animation-delay: 1.2s;
}

.arrow i:nth-child(2) {
    animation-delay: 1.4s;
}

.arrow i:nth-child(3) {
    animation-delay: 1.6s;
}

@keyframes arrow-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

.photo1 {
    animation-name: happy;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes happy {
    0% {
        transform: translate(240px, 30px) rotate(0deg);
    }

    100% {
        transform: translate(240px, 30px) rotate(10deg);
    }
}

.photo2 {
    animation-name: happy1;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes happy1 {
    0% {
        transform: translate(60px, 40px) rotate(0deg);
    }

    100% {
        transform: translate(60px, 40px) rotate(-12deg);
    }
}

.des {
    position: absolute;
    width: 97%;
    height: 30px;
    line-height: 30px;
    bottom: 20px;
    color: azure;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.692);
    opacity: 0;
    transition: opacity .5s;
}

.col-4 {
    transition: transform .4s;
    transition-timing-function: ease-out;
}

.col-4:hover .des {
    opacity: 1;
}

.col-4:hover {
    transform: translateZ(19px);
}